* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_logo {
    height: 50px;
    margin-top: 7.5px;
}

#tutorial_card {
    width: 325px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin: 70px auto 100px auto;
    margin-top: 70px;

    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.383);
    border-radius: 11px;
}

#slogan {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 20px;
}

#picture_tutorial_card {
    width: 75%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    border-radius: 10px 0 0 10px;
}

#picture_tutorial_card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Černý overlay s 50% průhledností */
    transition: 0.5s;
    border-radius: 10px 0 0 10px;

}

#tutorial_card:hover #picture_tutorial_card::before {
    background-color: rgba(0, 0, 0, 0);
}

#tutorial_card:hover #picture_tutorial_card article {
    opacity: 0;
}

#tutorial_card div {
    height: 100%;
}

#picture_tutorial_card article {
    position: relative;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 0.5s;
    opacity: .9;
}

#picture_tutorial_card article img {
    height: 100%;
}

#tutorial_card h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}

#tutorial_card p {
    font-size: 10px;
    color: rgb(139, 139, 139);
}

#content_tutorial_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

#tutorial_card div img {
    height: 100%;
}

#menu_button {
    height: 30px;
    margin-right: 10px;
}

#menu_button img {
    height: 30px;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}

html {
    height: 100%;
}

#business_text_contact {
    color: rgba(255, 255, 255, 0.386);
    font-weight: 100;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

footer {
    padding-bottom: 7.5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}


#business_text_contact a {
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.429);
}

#business_text_contact a:hover {
    color: white;
}

#root_div_a a {
    text-decoration: none;
    color: black;
    padding: 4px 4px;
    font-size: 9px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
}

hr {
    height: 0.65px;
    background-color: rgba(0, 0, 0, 0.083);
    border: 0;
}

#root_div_a {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45px;
    right: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 0 17.5px;
    box-shadow: 0px 0px 5px 0.1px rgb(61, 61, 61);
    width: 100%;
    transform: translateX(50%);
    pointer-events: none;
    opacity: 0;
}

#root_div_a div {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

@media(min-width: 750px){
    #root_div_a {
        top: 50px;
        right: 20px;
        transform: none;
        width: 160px;
        border-radius: 10px;
        padding: 0 12.5px;
    }

    #root_div_a div {
        height: 34px;
    }

}

.icon_root {
    height: 12px;
    margin-left: 11px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #83d2ab, rgb(0, 0, 0));
    background-attachment: fixed;
}

#app_name {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 700;
    color: black;

}

h1 {
    margin-bottom: 30px;
    font-size: 25px;
}

#email_input, #my_code_input {
    width: 350px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 18px;
    border-color: black;
}

#my_code_input {
    letter-spacing: 15px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit_button {
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
}

ul {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social_ul li {
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_ul li a {
    height: 100%;
    display: flex;
    align-items: center;
}

.social_button {
    width: 40px;
    transition: 0.175s;
}

.social_button:hover {
    width: 42.5px;
}

#tiktok_button {
    padding: 3px;
}

#error_text {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 11px;
    color: rgb(255, 70, 70);
}

#back {
    position: absolute;
    left: 20px;
    top: 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 750;
    border: 2.5px solid black;
    border-radius: 5px;
    padding: 2px 5px;
}

#verified_h2 {
    color: white;
    font-size: 20px;
}

#check_logo {
    height: 80px;
}

#ver_code_h2 {
    font-size: 18px;
    margin-bottom: 2.5px;
}

@media(max-width: 450px){
    #email_input, #my_code_input {
        width: 250px;
    }
}

#check_text {
    margin-bottom: 17.5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.499);
}

#get_the_app_button {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 80%;
    padding: 15px 0;
    display: inline-block;
    border-radius: 15px;
    transition: 0.175s;
}

#get_the_app_button:hover {
    transform: scale(1.02);
}

@media(min-width: 700px){
    #get_the_app_button {
        width: 500px;
    }
}

/* section functions */

.mobile_div {
    flex: 2;
}

.mobile_div_content {
    flex: 3;
}

.mobile_article {
    /* width: 100%; */
    margin: 0 25%;
}

.mobile_article img {
    width: 100%;
}

.mobile_multiple_article img {
    width: 100%;
}

.mobile_article_content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
    padding: 0 30px;
    padding-top: 15%;
}

.mobile_article_content h2 {
    margin-bottom: 20px;
}

.mobile_article_content p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.821);
}

.mobile_article_content ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateX(90%);
    width: 50%;
}

.mobile_article_content ul li{
    list-style-type: disc;
    font-size: 14px;
    text-align: left;
}

.events_div_photos {
    display: flex;
    flex-direction: row;
    line-height: 100%;
    align-items: stretch;
    justify-content: center;
}

.mobile_multiple_article {
    position: relative;
    /* width: 35%; */
    /* height: 100%; */
    /* margin: auto 0; */
}

.events_div_photos {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

}

.mobile_multiple_article:nth-child(2){
    z-index: 2;
}

.mobile_multiple_article:first-child {
    transform: rotate(-5deg);
    left: 50px;
}
.mobile_multiple_article:last-child {
    transform: rotate(5deg);
    right: 50px;
}

/* limit graficka vlastnost */
.limit_border {
    max-width: 1100px;
    margin: 0 auto;
}

#section_div {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.information_function_type{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 20px;
    flex: 1;
}

